.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    justify-content: center;
    margin-top: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    background-color: rgb(198, 243, 127);
    text-decoration: none !important;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.img-productos:hover {
    transform: scale(1.05);
}

.img-productos {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.boton-productos {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none !important;
    transition: background-color 0.3s;
}

.boton-productos:hover {
    background-color: #218838;
}

h3 {
    text-decoration: none !important;
}

section article div div div .nombre-productos {
    font-size: 18px;
    margin: 0;
    text-decoration: none !important;
    

}

.precio-productos {
    font-size: 16px;
    color: #000000;
    margin: 10px 0;
    text-decoration: none !important;
}

.nombre-productos,
.producto h3,
.producto h3 a {
  text-decoration: none !important;
  color: black;
}